URxvt.depth:			32

URxvt*scrollBar:		false
URxvt*foreground:		white
URxvt*background:		[65]black
URxvt*borderless:		1
URxvt*termName:			rxvt-unicode-256color

URxvt.font: 9x15, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.boldFont: 9x15bold, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.italicFont: 9x15, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.boldItalicFont: 9x15bold, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

URxvt.url-launcher:		chromium

URxvt.perl-ext-common:		vtwheel,tabbedex

URxvt.tabbed.autohide:		true
URxvt.keysym.Control-t:		perl:tabbedex:new_tab
URxvt.keysym.Control-Tab:	perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab:	perl:tabbedex:prev_tab

! Holo

*background: #242424
*foreground: #CCCCCC

! black
*color0: #444444
*color8: #888888

! red
*color1: #BF3E3E
*color9: #FF5353

! green
*color2: #98AB60
*color10: #CBE580

! yellow
*color3: #AB7260
*color11: #E59980

! blue
*color4: #6099AC
*color12: #80CCE6

! magenta
*color5: #AB6099
*color13: #E580CC

! cyan
*color6: #80bab0
*color14: #add9d1

! white
*color7: #F1F2F0
*color15: #FFFFFF
